<mat-card>
  <mat-card-title>Catalog of courses</mat-card-title>
  <!--<mat-form-field floatLabel=never >-->
    <!--<input matInput class="searching-customer" type="text"  placeholder="Search"-->
           <!--[ngModel]="searchModel"-->
           <!--(ngModelChange)="updateSearchModel($event)">-->
  <!--</mat-form-field>-->
  <div class="search-course">
    <input class="form-control" type="text" name="search" [ngModel]="keywords" autocomplete="off"
           placeholder="&#61442; Start searching for a course">
  </div>
  <!--<input matInput placeholder = "search" [ngModel]="keywords"-->
         <!--required name="keywords" #keywords>-->
  <mat-card-content>



    <mat-list-item *ngFor="let mycourse of mycourses">
      <a mat-button [routerLink]="['/mycourse-details',mycourse.id]">{{mycourse.title}}</a>
    </mat-list-item>
  </mat-card-content>
</mat-card>



