<h2>Catalog of courses</h2>



<div>
  <form>
    enter title: <input type="text" [(ngModel)]="course.id" name="id" />
    enter description: <input type="text" [(ngModel)]="course.description" name="description" />
    <button> (click)="addCourse()" Add Course</button>
  </form>
</div>
<div>
  <table border = "1">
    <tr>
      <th>id</th>
    <th>Code</th>
    <th>Title</th>
    <th>Description</th>
    <th>Points</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let course of courses">
      <td>{{course.id}}</td>
      <td>{{course.code}}</td>
      <td>{{course.title}}</td>
      <td>{{course.description}}</td>
      <td>{{course.points}}</td>
      <td>Edit | Delete</td>
      <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteCourse(course.id)"><span class="glyphicon-remove"></span> Delete</button></td>


    </tr>
  </table>
</div>
